.fusion-mobile-menu-icons .fusion-icon-bars::before {
  display: none !important;
}

body .text-align-right {
  text-align: right !important;
}
body .secondary-header {
  background-color: #565656;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1050;
}
body .secondary-header a {
  color: #fff;
}
body .secondary-header a:hover, body .secondary-header a:focus, body .secondary-header a:active {
  color: #c2d44e;
}
body .secondary-header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  body .secondary-header .row {
    flex-direction: column;
    justify-content: center;
  }
}
body .secondary-header .row .secondary-header-col {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0 !important;
}
@media (max-width: 767px) {
  body .secondary-header .row .secondary-header-col {
    text-align: center !important;
  }
}
body .secondary-header .row .secondary-header-col p {
  margin-bottom: 0;
}
body .text-center {
  text-align: center;
}
body .text-right {
  text-align: right;
}
body .post-author,
body .meta-data .author,
body .additional-buttons {
  display: none !important;
}
body .product-description-wrapper .add_to_cart_button {
  top: 10px !important;
}
@media (max-width: 479px) {
  body .product-description-wrapper .add_to_cart_button {
    position: relative;
    left: 0;
    margin-bottom: 10px;
  }
}
body .woocommerce-loop-product__title {
  margin-bottom: 0.5rem !important;
}
body .actions .coupon {
  height: auto !important;
}
body .actions .button {
  margin-bottom: 10px !important;
}
@media (max-width: 639px) {
  body .woocommerce-cart-form__contents thead th {
    font-size: 1rem !important;
    line-height: 1.4;
  }
}
@media (max-width: 479px) {
  body .woocommerce-cart-form__contents thead th {
    font-size: 0.875rem !important;
    padding: 5px;
  }
}
@media (max-width: 639px) {
  body .woocommerce-cart-form__cart-item .product-name, body .woocommerce-cart-form__cart-item .product-name a {
    font-size: 0.775rem !important;
  }
}
@media (max-width: 479px) {
  body .woocommerce-cart-form__cart-item .product-name, body .woocommerce-cart-form__cart-item .product-name a {
    font-size: 0.675rem !important;
  }
}
@media (max-width: 767px) {
  body .cart-collaterals {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 639px) {
  body .cart-collaterals .cart_totals h2 {
    font-size: 1rem !important;
  }
}
@media (max-width: 479px) {
  body .cart-collaterals .cart_totals h2 {
    font-size: 0.875rem !important;
  }
}
body .cart-collaterals .cart_totals table th {
  width: 50% !important;
}
@media (max-width: 639px) {
  body .cart-collaterals .cart_totals table th {
    font-size: 1rem !important;
  }
}
@media (max-width: 479px) {
  body .cart-collaterals .cart_totals table th {
    font-size: 0.875rem !important;
  }
}
body .cart-collaterals .cart_totals .woocommerce-shipping-methods li:only-child label::after {
  display: none !important;
}
@media (max-width: 767px) {
  body .cart-collaterals .cross-sells {
    width: 100% !important;
  }
}
body .wc-proceed-to-checkout {
  margin-bottom: 1.5rem;
}
body .woocommerce .woocommerce-form-login__rememberme .extra {
  display: none;
}
body .woocommerce .woocommerce-form-login__rememberme .woocommerce-form__input-checkbox {
  position: static !important;
  display: inline-block !important;
  margin-right: 0.5rem !important;
  width: 15px !important;
  height: 15px !important;
}
body .woocommerce #createaccount {
  position: static !important;
  display: inline-block !important;
  margin-right: 0.5rem !important;
  width: 15px !important;
  height: 15px !important;
}
body .woocommerce #customer_login .terms-privacy-policy #reg_data_privacy {
  position: static;
  display: inline-block;
  margin-right: 0.5rem;
  width: 15px !important;
  height: 15px !important;
}
body .woocommerce-shipping-methods li label::after {
  display: none !important;
}

.out-of-stock-form + .out-of-stock {
  display: none !important;
}
.out-of-stock-form .wpcf7 {
  text-align: left;
}
.out-of-stock-form .wpcf7 input {
  color: #000;
  font-family: "Open Sans", "Roboto", sans-serif;
  background-color: #f0f0f0;
}

/*# sourceMappingURL=cows.css.map */
